
<section class="panel" id="client">
    <h1 class="text-center">Clients</h1>
    <div class="container">
      <div class="row clogo">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-thumbnail" src="assets/img/logos/envato.jpg" alt="logo">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-thumbnail" src="assets/img/logos/designmodo.jpg" alt="logo">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-thumbnail" src="assets/img/logos/themeforest.jpg" alt="logo">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-thumbnail" src="assets/img/logos/creative-market.jpg" alt="logo">
          </a>
        </div>
      </div>
    </div>
  </section>



<!-- <section class="panel" id="client">
    <h1 class="text-center">Clients</h1>
    <div class="container">
      <div class="row clogo">
          <a href="images/1.jpg"><img src="assets/img/logos/envato.jpg" /></a>
          <a href="images/2.jpg"><img src="assets/img/logos/creative-market.jpg" /></a>
          <a href="images/3.jpg"><img src="assets/img/logos/designmodo.jpg" /></a>
          <a href="images/4.jpg"><img src="assets/img/logos/designmodo.jpg" /></a>
          <a href="images/1.jpg"><img src="assets/img/logos/envato.jpg" /></a>
          <a href="images/2.jpg"><img src="assets/img/logos/creative-market.jpg" /></a>
          <a href="images/3.jpg"><img src="assets/img/logos/designmodo.jpg" /></a>
          <a href="images/4.jpg"><img src="assets/img/logos/designmodo.jpg" /></a>
      </div>
    </div>
  </section> -->
