.section-heading{
  color: #fff;
}
section{
  padding: 200px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

#contact{
  background-color: #212529;
  background-image: url("/assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;

}

.form-group {
  margin-bottom: 25px;
}
.form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
.form-group input.form-control {
  height: auto;
}

.form-group textarea.form-control {
  height: 248px;
}

.form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

