<head>

  <!-- font css -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <script src="ScrollTrigger.min.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function(){
    var trigger = new ScrollTrigger();
  });
  </script>
</head>
<app-navbar></app-navbar>
<app-header></app-header>
<app-services></app-services>
<app-gallary></app-gallary>
<app-about></app-about>
<app-client></app-client>
<app-contact></app-contact>
<app-team></app-team>
<app-footer></app-footer>

